h1 {
    color: #000;
}

.product-card {
    padding: 20px 10px;
    border-bottom: 1px solid #000;
}

.product-title {
    color: #0078F0;
    font-size: 24px;
    margin-bottom: 20px;
}

.product-table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.product-table thead {
    height: 55px;
    font-size: 12px;
    color: #000000;
    font-weight: 700;
}

.product-table tbody {
    font-size: 11px;
    font-weight: 400;
    color: #000000;
    text-align: center;
}

.product-table tbody tr {
    height: 55px;
    border-top: 1px solid #e0e0e0;
}

.product-table tbody tr:hover>td {
    background-color: #d1d1d1;
}

.product-table tbody tr:nth-child(odd) {
    background-color: #e0e0e0;
}

.show590 {
    display: none;
}

.show860 {
    display: none;
}

.product-search-container .form{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.product-search-container input {
    width: 280px;
    height: 45px;
    padding-left: 4px;
    border-radius: 10px;
    border-color: #d1d1d1;
    margin-right: 10px;
}

.product-table img {
    cursor: pointer;
    width: 13px;
}

@media (min-width: 590px) {
    .show590 {
        display: table-cell;
    }

    .product-title {
        font-size: 28px;
    }

    .product-card {
        padding: 35px;
    }

    .product-table thead {
        font-size: 14px;
    }

    .product-card tbody tr {
        height: 55px;
    }

    .product-card tbody {
        font-size: 13px;
    }
}

@media (min-width: 860px) {
    .show860 {
        display: table-cell;
    }
    .product-title {
        font-size: 30px;
    }

    .product-card {
        padding: 35px;
    }

    .product-table thead {
        font-size: 16px;
    }

    .product-card tbody tr {
        height: 55px;
    }

    .product-card tbody {
        font-size: 18px;
    }

    .product-table img {
        width: 18px;
    }
}

.search-button {
    cursor: pointer;
    background-color: transparent;
    border: transparent;
    border-radius: 15px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;

}

.save-button {
    font-weight: bold;
    border:rgb(112, 112, 112);
    box-shadow: 2px 2px 0 2px #c0c1c2;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.search-button:active {
    box-shadow: 0 0 0 0 rgb(112, 112, 112), inset 1px 1px 2px 2px #0078F0;
    transform: translate(2px, 2px);
}